@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap');

:root {
  --bg_gradient: linear-gradient(to bottom right, #00c6ff, #0072ff);
  --bg: #02a4fd;
  --primary: white;
  --secondary: #fff9;
  --invert_bg: white;
  --invert_primary: #333;
  --invert_secondary: #3335;
  --link_hover_color: #2efff8;

  --radius: 5px;
  --button_radius: 2px;
}

* {
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--primary);
}
a:hover {
  color: var(--link_hover_color);
}

body {
  display: grid;
  justify-items: center;
  font-family: 'Rubik', sans-serif;
  min-height: 100vh;
  grid-template-rows: auto 1fr;
  padding: 10px 0;
}

.title {
  margin: 15px;
}

/* Layout */
.adaptive {
  width: 100vw;
  max-width: 1200px;
  padding: 0 15px;
  display: grid;
  grid-template-columns: 1fr 330px;
  grid-template-rows: 100px 1fr minmax(100px, auto);
  grid-auto-rows: 50px;
  gap: 10px;
}

.adaptive > * {
  padding: 8px 10px;
  background: var(--bg_gradient);
  color: var(--primary);
}

/* Header */
.header {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  grid-column: span 2;
}
.header .logo {
  padding: 6px 20px;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: var(--button_radius);
  background: var(--primary);
  color: var(--bg);
}
.header .menu {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 16px;
  font-weight: 300;
}
.header .phone {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 15px;
  letter-spacing: -1px;
}
.header .phone i {
  font-size: 12px;
}
.header .mobile-menu {
  display: none;
  font-size: 30px;
}

/* Content */
.content {
  grid-column: 1;
}
.content__title {
  text-align: center;
  font-weight: 500;
  margin: 10px 0 15px;
  font-size: 22px;
}
.content__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
}

/* Sidebar */
.sidebar {
  align-content: start;
  justify-items: start;
  justify-content: start;
}
.sidebar__list {
  width: 100%;
}

.sidebar__list * + * {
  border-top: 0.5px solid var(--invert_secondary);
  margin-top: 4px;
  padding-top: 4px;
}

/* Footer */
.footer {
  grid-column: span 2;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 300;
}

/* UI Components */
.block-title {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 10px;
}
.block {
  width: 100%;
  text-transform: initial;
  font-weight: 300;
  font-size: 15px;
  background: var(--invert_bg);
  color: var(--invert_primary);
  padding: 8px;
  border-radius: var(--radius);
  margin-bottom: 10px;
}
.block_flex {
  display: flex;
  gap: 5px;
}
input {
  width: 100%;
  flex-grow: 1;
  padding: 5px;
  outline: none;
  border: 0.5px solid var(--invert_secondary);
  border-radius: var(--button_radius);
}
button {
  cursor: pointer;
  background: var(--bg_gradient);
  color: var(--primary);
  border: 0.5px solid var(--invert_secondary);
  border-radius: var(--button_radius);
}
.card {
  padding: 5px;
  width: 100%;
  color: var(--invert_primary);
  background: var(--invert_bg);
  font-weight: 300;
  font-size: 15px;
  overflow: hidden;
  border-radius: var(--radius);
}
.card__img {
  border-radius: var(--radius);
  height: 20vw;
  min-height: 150px;
  max-height: 250px;
  background: var(--img) center / cover;
}
.card__content {
  display: grid;
  padding: 5px;
}
.card__title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 3px;
}
.card__desc {
  opacity: 0.8;
  margin-bottom: 10px;
}
.card__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card__rating {
  opacity: 0.2;
  letter-spacing: -1px;
}
.card__price {
  letter-spacing: -1px;
  font-size: 20px;
}
.card__price strong {
  font-weight: 500;
}
.card__price i {
  font-size: 15px;
  position: relative;
  top: -1px;
  left: -2px;
  opacity: 0.4;
}
.card__button {
  cursor: pointer;
  display: inline-block;
  padding: 7px 25px;
  margin: 10px auto 15px;
  background: var(--bg_gradient);
  color: var(--primary);
  border-radius: var(--button_radius);
  font-size: 15px;
}

/* Adaptive layout */
@media (max-width: 1200px) {
  .adaptive {
    padding: 0;
    max-width: 1000px;
    grid-template-columns: 1fr 300px;
  }
  .content__title {
    font-size: 20px;
  }
}
@media (max-width: 1000px) {
  .adaptive {
    padding: 0;
    max-width: 768px;
    grid-template-columns: 1fr 250px;
  }
  .header .menu {
    font-size: 14px;
    font-weight: 400;
  }
  .content__title {
    margin: 10px 0;
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .title {
    font-size: 4.5vw;
  }
  .adaptive {
    max-width: 480px;
    grid-template-rows: 70px 1fr minmax(100px, auto);
  }
  .header {
    position: sticky;
    top: 0;
    z-index: 1;
    border-bottom: 1px solid var(--primary);
  }
  .header .menu {
    display: none;
  }
  .header .phone {
    margin-left: auto;
  }
  .header .mobile-menu {
    display: block;
  }
  .sidebar {
    grid-column: span 2;
  }
  .content {
    grid-column: span 2;
  }
  .card__img {
    min-height: 130px;
  }
}
@media (max-width: 480px) {
  .title {
    font-size: 5vw;
  }
  .adaptive {
    width: 96vw;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr minmax(100px, auto);
  }
  .sidebar {
    grid-column: span 2;
  }
  .content {
    grid-column: span 2;
  }
  .card__img {
    height: 30vw;
  }
}

@media (max-width: 448px) {
  .card__img {
    height: 50vw;
  }
}
